@charset "UTF-8";
@import url("main.css");
@font-face {
  font-family: Nasalization;
  src: url(/fonts/nasalization.ttf);
}

@media screen and (max-width: 4080px) {
  /* .divider_2 {
    display: none;
  } */

  .details_tabs {
    padding: 3em 2em;
  }
}

@media screen and (max-width: 2050px) {
  #contacts {
    height: 330px;
    background-image: url("../images/back8.jpeg");
    background-position: -15em -38em;
    background-size: 2000px;
  }

  .divider_2 {
    display: block;
  }

  .photo_block {
    bottom: -76px;
    width: 20em;
  }

  .custom_shape {
    width: 22em;
    height: 22em;
    left: -14px;
    bottom: -11px;
  }

  #details {
    background-size: 2000px;
    background-position: -15em -25em;
  }

  .wrapper {
    padding: 5em 14em 5em 14em;
    /* width: 100%; */
  }

  .photo a:before {
    display: none;
  }

  .title h1 {
    font-size: 35px;
  }

  .title h2 {
    font-size: 28px;
  }
  .wrapper_2 {
    height: 550px;
  }

  button {
    padding: 0.58em 2.8em;
    font-size: 16px;
  }

  .certification {
    padding: 0.58em 2em;
    font-size: 16px;
  }

  .column {
    margin-right: 1em;
  }

  .details_tabs {
    padding: 3em 3em;
  }

  footer {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1030px) {
  body {
    overflow-x: hidden;
  }

  #contacts {
    background-size: 1100px;
    background-position: -5em -22em;
    height: 220px;
  }

  .divider_2 {
    display: none;
  }

  .photo_block {
    bottom: -58px;
    width: 15em;
  }

  .custom_shape {
    width: 16.5em;
    height: 16.5em;
    left: -10px;
    bottom: -8px;
  }

  .divider {
    position: relative;
    bottom: 58px;
    width: 100%;
    height: 10px;
    background-color: #121515;
    filter: drop-shadow(0.4rem 0.4rem 0.5rem #ff7300e1);
  }

  .title {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .title h1 {
    font-size: 30px;
  }

  .title h2 {
    font-size: 26px;
  }

  .wrapper {
    padding: 0em 12em 3em 12em;
    width: 100%;
  }

  .contact_block {
    padding-top: 4em;
    padding-bottom: 1em;
  }

  .row-name-lang {
    left: 20em;
    top: -8.2em;
  }

  .lang-choice ul {
    padding: 0.4em 3em 0.5em 1.5em;
  }

  .lang-choice li {
    margin-right: 0.9em;
  }

  .lang-choice a {
    font-size: 14px;
  }

  .social {
    width: 50px;
    height: 50px;
  }

  .dropdown_menu {
    display: none;
  }

  .skill_box {
    margin-bottom: 0;
  }

  .skill_box img {
    width: 75%;
    height: 75%;
    margin-bottom: 0;
  }

  .skill_box h3 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;
  }

  button {
    padding: 0.9em 2.8em;
    font-size: 14px;
  }

  .certification {
    padding: 0.58em 2em;
  }

  .column {
    flex-grow: 1;
    margin-right: 0;
    font-size: 90%;
  }

  .block_50 {
    flex-grow: 4;
    margin-right: 2em;
  }

  .details_tabs {
    padding: 2em 2em;
  }

  #details {
    background-size: 1300px;
    background-position: -10em -10em;
  }

  #education {
    padding: 2.5em 5em;
  }

  .modal-body img {
    width: 400px;
  }

  .no-scroll {
    overflow: scroll;
  }

  .photo_block span:before {
    display: none;
  }

  button:before {
    display: none;
  }

  .photo a:after {
    display: none;
  }

  .photo a:hover img {
    transform: none;
  }

  .photo a {
    margin-bottom: 5px;
  }

  .icons img:hover {
    transform: none;
  }

  .wrapper_2 {
    width: 100%;
  }

  footer {
    font-size: 0.8em;
    padding: 20px;
  }
}

@media screen and (max-width: 920px) {
  .hex_container {
    height: -webkit-fill-available;
  }
  .hex_container .invisible {
    display: none;
}

  #details {
    background-size: 960px;
    background-position: -10em -15em;
    height: 260px;
    padding: 1em 0 1em 0;
  }

  /*Accordion bars animation*/

  .acc_bar {
    width: 0%;  /* Should not be overridden on mobile */
    animation: level 1s ease forwards;
    opacity: 0;
}

  .acc_progress { 
    position: relative;
    width: 23em;
    height: 1.7em;
    margin: 0.5em;
    border-radius: 20px;
  }
  
@keyframes level {
  0% {
    width: 0;
    opacity: 1;
  }
100% {
    opacity: 1;
  }
}
@-webkit-keyframes level {
  0%{
    width: 0;
    opacity: 1;
  }
100%{
    opacity: 1;
  }
}
  
  .acc_bar.learning {
    width: 35%;
  }
  
  .acc_bar.basic {
    width: 50%;
  }
  
  .acc_bar.intermediate {
    width: 65%;
  }
  
  .acc_bar.expert {
    width: 100%;
  } 

  /*main part*/

  .photo_block {
    width: 13em;
    bottom: -52px;
  }

  .wrapper {
    padding: 0;
    margin: 0 auto;
  }

  #contacts {
    background-size: 960px;
    background-position: -2em -19em;
    height: 170px;
  }

  .divider {
    bottom: 65px;
  }

  .divider_2 {
    display: block;
    position: relative;
    bottom: 20px;
  }

  .custom_shape {
    width: 14.5em;
    height: 14.5em;
    left: -10px;
    bottom: -7px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .title h1 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: 3px;
  }

  .title h2 {
    font-size: 1em;
    letter-spacing: 4.5px;
  }

  .title p {
    margin: 1em;
    font-size: 0.9em;
  }

  .mail:before,
  .mail:after {
    display: none;
  }

  button {
    padding: 0.5em 2.8em;
    font-size: 0.7em;
  }

  button.download {
    margin-bottom: 20px;
  }

  .photo a:after {
    display: none;
  }

  .photo a:hover img {
    transform: none;
  }

  div.tab_section {
    display: none;
  }

  .accord_tabs {
    display: block;
  }

  .row-name-lang {
    left: 13em;
    top: -7.3em;
  }

  .lang-choice ul {
    padding: 0.4em 3em 0.5em 1.5em;
  }

  .lang-choice li {
    margin-right: 0.9em;
  }

  .lang-choice a {
    font-size: 14px;
  }


  .skill_box {
    display: flex;
    flex-direction: column;
  }

  .column_skills {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding: 0;
  }

  .paragraph_info {
    margin-bottom: 1em;
    padding: 1em 1em;
  }

  .certification {
    width: 50%;
    padding: 0.58em 2em;
    font-size: 1em;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .column_skill li {
    margin-right: 0;
    font-size: 0.9em;
    line-height: 15px;
    margin-left: 0;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .contact_block {
    padding-bottom: 1.5em;
    padding-top: 4.5em;
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    margin: auto 4.7em;
  }

  .answers_info {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-self: baseline;
    display: inline-block;
    text-align: start;
    font-size: 0.8em;
  }

  .column_skill li::marker {
    content: normal;
    list-style-type: disc;
    font-size: 20px;
    color: #fc7f1f;
  }

  a.mail {
    font-size: 1em;
    line-height: 1.85;
  }

  .titles_info p {
    width: 0.8em;
  }

  .social {
    width: 1.5em;
  }

  .lang_list img {
    width: 5em;
  }

  .column_accord {
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
  }

  .name h3 {
    margin-bottom: 0;
  }

  .date {
    font-size: 1em;
  }

  .photo a:after {
    display: none;
  }

  button:before {
    display: none;
  }

  footer {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 770px) {
  .hex_container {
    height: -webkit-fill-available;
  }

  .titles_info {
    line-height: 1.4;
  }

  .contact_block {
    padding-top: 5em;
  }

  .row-name-lang {
    left: 10em;
    top: -8em;
  }

  .lang-choice ul {
    border-radius: 50px 0 0 0;
    padding: 0.5em 6em 0.5em 2em;
  }

  .lang-choice li {
    margin-right: 0.8em;
  }

  .lang-choice a {
    font-size: 18px;
  }

  .divider_2 {
    bottom: 20px;
  }

  .divider {
    bottom: 72px;
  }
}

@media screen and (max-width: 585px) {
  .hex_container {
    height: -webkit-fill-available;
  }

  .hex_container .hexs_row .hexagon {
    position: relative;
    width: 60px;
    height: 70px;
    top: 10px;
  }

  .hex_container .hexs_row {
    margin-top: -20px;
    margin-left: -37px;
}
/* Hex cursor for mobile */
.hex_cursor {
  width: 12em;
  height: 12em;

  --xA: 10em;
  --yA: 12em;
  --xB: 10em;
  --yB: 5em;

  animation: anim 2s linear infinite, move_hex 6s infinite alternate;
  animation-fill-mode: both;
}
  @keyframes anim {
    0% {
      filter: hue-rotate(0deg) blur(50px);
    }
    100% {
        filter: hue-rotate(360deg) blur(50px);
    }
  }
  @keyframes move_hex {
  0% {left:5em; top: 35em;}
  25%  {left: 10em; top: 35em;}
  50%  {left: 30em; top: 25em;}
  75%  {left: 25em; top: 35em;}
  100% {left: 35em; top: 15em;}
  }

  #details {
    background-size: 600px;
    background-position: -8em -4.5em;
    height: 250px;
    padding: 1em 0 1em 0;
  }

  .languages p {
    font-size: 14px;
  }

  .acc_progress { 
    width: 23em;
    height: 1.7em;
    margin: 0.5em;
    border-radius: 20px;
    font-size: 14px;
  }

  .acc_progress div {  
    padding-top: 3px; 
    padding-bottom: 2px;
    padding-right: 10px;
  }

  .shadow {
    box-shadow: 0px 15px 18px rgb(92 104 157 / 25%);
}

  .photo_block {
    width: 13em;
    bottom: -52px;
  }

  .wrapper {
    padding: 0;
  }

  #contacts {
    background-size: 530px;
    background-position: -7em -9em;
    height: 170px;
  }

  .divider {
    bottom: 65px;
  }

  .divider_2 {
    display: block;
    position: relative;
    bottom: 20px;
  }

  .custom_shape {
    width: 14.5em;
    height: 14.5em;
    left: -10px;
    bottom: -7px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .title h1 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: 3px;
  }

  .title h2 {
    font-size: 1em;
    letter-spacing: 4.5px;
  }

  .mail:before,
  .mail:after {
    display: none;
  }

  .insta_button {
      margin-right: 2.8em;
  }

  button {
    padding: 0.5em 2.8em;
    font-size: 0.7em;
  }

  button.download {
    margin-bottom: 20px;
  }

  button:hover {
    background-color: none;
}

button.whatsapp {
  background-color: #ff7b00;
  gap: 0.5em;
  padding: 0.5em 1.1em 0.5em 0.9em;
  font-size: 0.5em;
  margin-left: -20px;
}

.wtap_icon {
width: 1.5em;
height: 1.5em;
}

  .photo a:after {
    display: none;
  }

  .photo a:hover img {
    transform: none;
  }

  div.tab_section {
    display: none;
  }

  .accord_tabs {
    display: block;
  }

  .skill_box {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .column_skills {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0;
  }

  .other {
    margin-top: 1.2em;
  }

  .paragraph_info {
    margin-bottom: 0;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  .certification {
    width: 50%;
    padding: 0.58em 2em;
    font-size: 1em;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button:hover:before {
    animation: none;
  }

  .column_skill li {
    font-size: 1.2em;
    line-height: 15px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-right: 2em;
    padding: 0;
    font-weight: 400;
  }

  .skill_category {
    font-size: 0.8em;
    margin-bottom: 1em;
    padding-bottom: 2px;
  }

  .row-name-lang {
    left: 1.8em;
    top: -7.5em;
  }

  .lang-choice ul {
    padding: 0.4em 3em 0.5em 1.5em;
  }

  .lang-choice li {
    margin-right: 0.8em;
  }

  .lang-choice a {
    font-size: 17px;
  }

  .contact_block {
    padding-bottom: 2em;
    padding-top: 4.5em;
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 0.1em;
    flex-flow: row wrap;
    margin: auto 4.9em;
  }

  .answers_info {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-self: baseline;
    display: inline-block;
    text-align: start;
    font-size: 0.8em;
  }

  .column_skill li::marker {
    content: normal;
    list-style-type: disc;
    font-size: 20px;
    color: #fc7f1f;
  }

  a.mail {
    font-size: 1em;
    line-height: 1.85;
  }

  .titles_info p {
    width: 0.8em;
  }

  .social {
    width: 1.5em;
  }

  .lang_list img {
    width: 5em;
  }

  .column_accord {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
  }

  .name h3 {
    margin-bottom: 0;
  }

  .date {
    font-size: 1em;
  }

  .photo a:after {
    display: none;
  }

  button:before {
    display: none;
  }

  footer {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 540px) {
  .hex_container {
    height: -webkit-fill-available;
  }

  .photo_block {
    width: 12em;
    bottom: -48px;
  }

  #contacts {
    background-size: 560px;
    background-position: -7.5em -9em;
    height: 170px;
  }

  .custom_shape {
    width: 13.5em;
    height: 13.5em;
    left: -10px;
    bottom: -7px;
  }

  .row-name-lang {
    left: 4.5em;
    top: -11.5em;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 0.5em;
}

.answers_info {
  margin-left: 0.5em;
}

.row_info {
  gap: 0;
}

  .lang-choice li {
    margin-right: 0;
    margin-bottom: 0.4em;
}

  .lang-choice ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.6em 0.2em 0.6em;
    border-radius: 50px 50px 0 0;
}
}

@media screen and (max-width: 395px) {
  .hex_container .invisible {
    display: none;
}

  .hex_container {
    height: -webkit-fill-available;
  }
  
  .info {
    margin: auto 4em;
  }

  .skill_box {
    margin: 0;
  }

  .row-name-lang {
    left: 0.8em;
    top: -7.5em;
  }

  .lang-choice ul {
    padding: 0.5em 3em 0.8em 1.7em;
  }

  .lang-choice li {
    margin-right: 1em;
  }

  .lang-choice a {
    font-size: 15px;
  }

  .answers_info {
    margin-left: 1em;
  }

}

@media screen and (max-width: 420px) {
  .info {
    margin: auto 3em;
    justify-content: center;
  }

  .skill_box {
    margin: 0;
  }

  .skill_category {
    font-size: 0.75em;
    margin-bottom: 1em;
    padding-bottom: 1px;
  }

  .row-name-lang {
    left: 2.7em;
    top: -13em;
  }

  .lang-choice ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.6em 0.2em 0.6em;
    border-radius: 50px 50px 0 0;
  }

  .lang-choice li {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .lang-choice a {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 345px) {
  .info {
    margin: auto 2em;
    justify-content: center;
  }

  .skill_box {
    margin: 0;
  }

  .skill_category {
    font-size: 0.75em;
    margin-bottom: 1em;
    padding-bottom: 1px;
  }

  .row-name-lang {
    left: 2.2em;
    top: -12em;
  }

  .lang-choice ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.6em 0.2em 0.6em;
    border-radius: 50px 50px 0 0;
  }

  .lang-choice li {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .lang-choice a {
    font-size: 12px;
  }
  
}